<div class="container">

  <div class="row">

    <div class="center option_btn">
      <%= link_to 'All Doctors', doctors_path, class: 'btn' %>
      <%= link_to 'Edit Doctor', edit_doctor_path(@doctor), class: 'btn' %>
    </div>

    <section class="col s12 m8">
      <div class="col s12 m12">
        <h2 class="header">Doctor: <%= @doctor.last_name %></h2>
        <div class="card horizontal doctor_card z-depth-0">
          <div class="card-image">
            <%= image_tag @doctor.avatar.url(:medium), class: "activator" %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h3>Name: <%= @doctor.doctor_full_name %> </h3>
              <h3>Specialty: <%= @doctor.specialty %> </h3>
              <h3>Greedy: <%= @doctor.greedy ? 'Very!' : 'Not Much' %> </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <aside class="col s12 m4">
      <% if @doctor.patients.any? %>
        <h5 class="center">Patients</h5>
        <ul>
          <% @doctor.appointments.each do |da| %>
            <li>
              <div class="col s12 m12">
                <div class="card appointments_card z-depth-0">
                  <div class="card-content white-text">
                    <span class="card-title">Appointment</span>
                    <p><strong>Patient:</strong> <%= da.patient.patient_full_name %> </p>
                    <p><strong>Date: </strong> <%= da.date.strftime('%b %e, %Y') %> </p>
                    <p><strong>Time: </strong> <%= da.time.strftime('%l:%M %P') %> </p>
                  </div>
                  <div class="card-action appointments_card">
                    <%= link_to 'Cancel', appointment_path(da), method: :delete %>
                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h5>No patients found</h5>
      <% end %>
    </aside>
  </div>



</div>
