<h1>Add an appointment</h1>
<hr />

<%= form_for Appointment.new do |f| %>
  <%= f.select :doctor_id, options_for_select(@doctors) %>
  <%= f.select :patient_id, options_for_select(@patients) %>
  <%= f.date_field :date, required: true, placeholder: 'Date' %>
  <%= f.time_field :time, required: true, placeholder: 'Time' %>
  <%= f.submit nil, class: 'btn' %>
<% end %>


<%= link_to 'All Doctors', doctors_path %> |
<%= link_to 'All Patients', patients_path %>
